
// Layout
.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.logo {
  width: 120px;
  height: 31px;
  margin: auto 10px;
  float: left;
  img {
    max-height: 31px;
  }
}


// Antd overwrite
.ant-card-body {
  padding-left: 0px;
}


.react-router-modal__modal {
  overflow-y: scroll;
    overflow-x: hidden;
    height: 75%;
    width: 75%;
}


// scroll-bar 
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%),$border-radius:5px) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

.react-router-modal__modal {
  @include scrollbars(7px, grey, white);
}


// helper functions
.p-2 {
  padding:10px;
}